.news-filter {
  position: relative;
  width: 100%;
}
.news-filter .multiFilter {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.news-filter .multiFilter .clear-btn {
  position: relative;
  cursor: pointer;
}
.news-filter .multi-wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.news-filter .multi-wrap .multi_filter_wrap {
  position: relative;
  width: 200px;
  padding: 10px 30px 10px 20px;
  margin-left: 10px;
  box-shadow: 0px 0px 3px 0px rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
}
.news-filter .multi-wrap .multi_filter_wrap .list-wrap {
  position: absolute;
  left: 50%;
  top: 44px;
  width: 200px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  list-style: none;
  box-shadow: 0px 5px 6px 0px rgb(0, 0, 0);
  z-index: 6;
  overflow: hidden;
  transform: translateX(-50%);
  transition: height 0.3s ease-in-out;
}
.news-filter .multi-wrap .multi_filter_wrap .list-wrap.active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.news-filter .multi-wrap .multi_filter_wrap .list-wrap ul {
  position: relative;
  padding: 10px;
}
.news-filter .multi-wrap .multi_filter_wrap .list-wrap ul li {
  padding-bottom: 10px;
}
.news-filter .multi-wrap .multi_filter_wrap .list-wrap ul li .item {
  position: relative;
}
.news-filter .multi-wrap .multi_filter_wrap .list-wrap ul li .item label {
  display: inline-block;
  position: relative;
}
.news-filter .multi-wrap .multi_filter_wrap .list-wrap ul li .item label input {
  display: inline-block;
}
.news-filter .multi-wrap .multi_filter_wrap .list-wrap ul li .item label span {
  padding-left: 10px;
}
.news-filter .multi-wrap .multi_filter_wrap .arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 14px;
  height: 8px;
  transform: translateY(-50%);
  background: url("images/dropDown.png") no-repeat;
  background-size: cover;
}
.news-filter .selectedWrap {
  position: relative;
  width: 100%;
}
.news-filter .selectedWrap ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.news-filter .selectedWrap ul li {
  position: relative;
  margin: 20px 0 0 20px;
}
.news-filter .selectedWrap ul li .selected-item {
  position: relative;
  padding: 10px 30px 10px 20px;
  background: #0084f2;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.news-filter .selectedWrap ul li .selected-item p {
  color: white;
}
.news-filter .selectedWrap ul li .selected-item .cross-icon {
  cursor: pointer;
}
.news-filter .selectedWrap ul li .selected-item .cross-icon::after {
  content: "X";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 12px;
  height: 16px;
  color: white;
  transform: translateY(-50%);
}
.news-filter .card-wrapper {
  position: relative;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.news-filter .card-wrapper .card {
  position: relative;
  flex: 0 0 calc(33.33% - 30px);
  width: calc(33.33% - 30px);
  margin: 0 15px 30px;
  border: solid 1px black;
  border-radius: 5px;
  overflow: hidden;
}
.news-filter .card-wrapper .card .img-wrap {
  position: relative;
  width: 100%;
}
.news-filter .card-wrapper .card .img-wrap img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-filter .card-wrapper .card .content {
  padding: 20px 20px 40px;
}
.news-filter .card-wrapper .card .content h2 {
  margin-bottom: 20px;
}
.news-filter .card-wrapper .card .content p {
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.news-filter .pagination {
  position: relative;
  text-align: center;
}
.news-filter .pagination .paginationList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.news-filter .pagination .paginationList li {
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}/*# sourceMappingURL=multi-filter.css.map */